<header>
  <nav class = "navbar primary-nav" style = "display: block;">
    <div class="navbar-header">
      <a class="navbar-brand"><img src="https://cdn.vox-cdn.com/thumbor/UKSLdttYoIK2bv1gd231rqL4eiQ=/1400x788/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/13674554/Mastercard_logo.jpg" alt="Mastercard Connect" title = "Mastercard Connect"></a>
    </div>

    <div class = "navbar-header" style = "display: block; float: right;">
      <a *ngIf = "router.url != '/signin'" class = "breadcrumb" style="background-color: transparent; font-size: 17px; cursor: pointer; color: #000;" (click) = "signoutUser()">signoutUser</a>
    </div>
    <div class = "navbar-header" style = "display: block; float: right;">
      <a *ngIf = "router.url != '/signin'" class = "breadcrumb" style="background-color: transparent; font-size: 17px; color: #000;" (click) = "signoutUser()">Welcome, {{Service.userInfo.username}}</a>
    </div>
  </nav>
</header>

<section class = "page-wrap">
  <div class="page-wrap_inner">
    <div class="brand-header">
      <div class= "row dashboard-head col-md-12">
        <div *ngIf = "router.url != '/signin'" class="breadcrumb-trail row">
          <ol class="breadcrumb" style="background-color : transparent;">
            <li><a class="cursor-pointer" (click) = "NavToHome()">Home</a>
            </li>
            <li><a class="cursor-pointer" (click) = "NavToHome()">Operation console</a>
            </li>
          </ol>
        </div>

        <div class="col-md-12 header">
          <div class = "col-md-12 row title80">
            <h1 class = "marginBottom30">Operation Console Application - {{currentEnv}}</h1>
          </div>
        </div>
      </div>

    </div>
    <div class="placeholder"></div>
    <router-outlet></router-outlet>
  </div>

</section>

<footer class="footer-bottom">
  <div class="row">
    <div class = "col-sm-8 col-md-push-4 col-xs-12 footer-links">
      <a href="" title = "Terms of use, Privacy Policy and Cookie Notice">Terms of use, Privacy Policy and Cookie Notice</a>
    </div>
    <div class = "col-sm-4 col-sm-pull-8 col-xs-12 footer-legal">
      &copy; 1995 - 2021 Mastercard
    </div>
  </div>
</footer>